---
permalink: "/"
layout: layout.liquid

renderData:
    title: "Photo Gallery"

---

<div class="columns is-multiline">
    {%- for photoSet in contentful-photos -%}
    <div class="column is-one-third ">
        <div class="box">
            <p class="title is-4 has-text-dark">{{photoSet.title}}</p>
            <a href="{{photoSet.slug}}">
                <div class="image is-3by2">
                    <img srcset="https:{{photoSet.coverImage.fields.file.url}}?w=480&h=320&fm=png&q=80&fit=fill&f=faces 480w,
                             https:{{photoSet.coverImage.fields.file.url}}?w=800&h=533&fm=png&q=80&fit=fill&f=faces 800w" sizes="(max-width: 600px) 480px,
                            800px" src="https:{{photoSet.coverImage.fields.file.url}}?w=480&h=320&fit=fill&f=faces" alt="Photo from {{ photoSet.title }}" loading="lazy">
                </div>
            </a>
        </div>
    </div>
    {%- endfor -%}
</div>
